@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,900;1,200&display=swap');

@import 'variables';
@import 'normalize';
@import 'typography';

@import 'nav';
@import 'footer';
@import 'loading';

@import 'home';
@import 'projects';
@import 'projectDetail';
@import 'about';
@import 'contact';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html,
body,
textarea,
select,
input,
button {
  background-color: $c-white;
  line-height: 100%;
  color: $c-black;
}

html {
  overflow-x: hidden;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding: 0px;
  margin: 0px;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* General */
/* -------------------------------- */
.layout {
  padding-top: 8vh;
}

.hidden {
  display: none;
}

/* Responsive */
/* -------------------------------- */
@media (max-width: 1000px) {
  #photos {
    columns: 1;
    column-gap: 0%;
  }
  #photos img {
    margin: 2% 0px;
  }

  #photos img:hover {
    transform: scale(1);
    cursor: pointer;
  }

  #top_part {
    border: 0px;
  }

  /* About */
  /* -------------------------------- */
  #about {
    width: 92% !important;
    height: 75vh;
    padding-top: 20vh !important;
    text-align: center;
    padding: 0px 4%;
  }
}
