h1 {
  font-size: 30px;
  font-weight: 700;
  padding: 8px 0px;
  margin-bottom: 24px;
  border-bottom: 4px solid $c-primary-main;
  width: 6%;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

b {
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 175%;
}

hr {
  margin: 6px 0;
}
