/* Bio */
/* -------------------------------- */
#bio {
  width: 92vw;
  padding: 6vh 4vw;
}

.about {
  p {
    font-size: 14px;
  }
  i {
    color: $c-grey-dark;
  }

  .about_section {
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

    h3 {
      margin-bottom: 18px;
      color: $c-primary-main;
    }

    .col-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 24px;
      grid-row-gap: 0px;
      margin-bottom: 24px;
      align-content: flex-start;

      @media (max-width: 1000px) {
        display: block;
      }

      .date-container {
        grid-area: 1 / 1 / 2 / 2;
        color: $c-primary-main;
        @media (max-width: 1000px) {
          margin-bottom: 3px;
        }
      }

      .detail-container {
        grid-area: 1 / 2 / 2 /6;

        .detail-list {
          padding-left: 18px;
          li {
            margin-bottom: 6px;
          }
        }
      }
    }

    .tools {
      padding-left: 18px;

      li {
        margin-bottom: 12px;
        word-wrap: break-word;
      }
    }
  }
}
