/* Work */
/* -------------------------------- */
#work {
  width: 92vw;
  padding: 6vh 4vw;
}

.project_card {
  margin: auto;
  max-width: 960px;
  margin-bottom: 10vh;
  height: 80vh;
  transition: all 0.3s ease-in-out;

  @media (max-width: 768px) {
    height: auto;
    margin-bottom: 10vh;
  }

  a {
    text-decoration: none;
  }

  .card_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
      display: block;
    }

    &:hover .text_container .project_title {
      text-decoration: underline;
    }

    &:hover .text_container .view {
      text-decoration: underline;
      text-decoration-color: $c-primary-main;
      text-decoration-thickness: 5px;
    }

    &:hover img {
      filter: none;
    }

    .text_container {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5%;

      @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
        margin: 3vh 0;
      }

      .project_title {
        width: 70%;
        font-size: 24px;
        line-height: 36px;
        border-bottom: none;

        @media (max-width: 768px) {
          width: 100%;
          line-height: 24px;
        }
      }

      p {
        font-weight: 400;

        &.view {
          font-weight: 600;
        }
      }
    }

    img {
      border-radius: 1%;
      height: 100%;
      width: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      transition: 0.5s ease-in-out;
      filter: grayscale(100%);

      @media (max-width: 768px) {
        filter: none;
        aspect-ratio: 3/4;
        width: 100%;
        height: auto;
      }
    }
  }
}
